<div class="list row">
  <div class="col-md-8">
    <br><br>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Employee List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let employee of employees; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEmployee(employee, i)"
      >
        {{ employee.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllEmployees()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentEmployee">
      <h4>Employee</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentEmployee.name }}
      </div>
      <div>
        <label><strong>Age:</strong></label>
        {{ currentEmployee.age }}
      </div>
      <div>
        <label><strong>Date of Birth:</strong></label>
        {{ currentEmployee.date_of_birth }}
      </div>
      <div>
        <label><strong>Bio:</strong></label>
        {{ currentEmployee.bio }}
      </div>
      <div>
        <label><strong>NIC:</strong></label>
        {{ currentEmployee.nic }}
      </div>

      

      <a class="badge badge-warning" routerLink="/employees/{{ currentEmployee.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentEmployee">
      <br />
      <p>Please click on a Name of an Employee to view the details...</p>
    </div>
  </div>
</div>
