<div *ngIf="currentEmployee" class="edit-form">
  <h4>Employee</h4>
  <form>
    <div class="form-group">
      <label for="title">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="currentEmployee.name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="description">Age</label>
      <input
        type="text"
        class="form-control"
        id="age"
        [(ngModel)]="currentEmployee.age"
        name="age"
      />
    </div>
<div class="form-group">
      <label for="description">Date of Birth</label>
      <input
        type="text"
        class="form-control"
        id="date_of_birth"
        [(ngModel)]="currentEmployee.date_of_birth"
        name="date_of_birth"
      />
    </div>
    <div class="form-group">
      <label for="description">Bio</label>
      <input
        type="text"
        class="form-control"
        id="bio"
        [(ngModel)]="currentEmployee.bio"
        name="bio"
      />
    </div>
    <div class="form-group">
      <label for="description">NIC</label>
      <input
        class="form-control"
        id="nic"
        required
        [(ngModel)]="currentEmployee.nic"
        name="nic"
      />
    </div>
  </form>

  

  <button class="badge badge-danger mr-2" (click)="deleteEmployee()">
    Delete
  </button>

  <button type="submit" class="badge badge-success" (click)="updateEmployee()">
    Update
  </button>

    <p>{{message}}</p>

<div *ngIf="!currentEmployee">
  <br />
  <p>Cannot access this Employee...</p>
</div>
