<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">

  <h4>Add Employee Details</h4>

      <label for="title">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="employee.name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Age</label>
      <input
        class="form-control"
        id="age"
        [(ngModel)]="employee.age"
        name="age"
        required
      />
    </div>
<div class="form-group">
      <label for="description">Date Of Birth</label>
      <input
        type ="date"
        class="form-control"
        id="date_of_birth"
        [(ngModel)]="employee.date_of_birth"
        name="date_of_birth"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Bio</label>
      <input
        class="form-control"
        id="bio"
        [(ngModel)]="employee.bio"
        name="bio"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">NIC</label>
      <input
        class="form-control"
        id="nic"
        [(ngModel)]="employee.nic"
        name="nic"
        required
      />
    </div>
   
    <button type="Submit" (click)="saveEmployee()" class="btn btn-success">Submit</button>

  </div>

  <div *ngIf="submitted">
    <p>{{message}}</p>
    <button class="btn btn-success" (click)="newEmployee()">Please Click Here To Add More!</button>
     
  </div>
</div>
